(function($) {
  $.widget("environment.instance", {
    options: {
      xpos: null,
      ypos: null,
      InstanceType: null,
      instanceId: null,
      resourceType: '',
      ipAddress: '',
      publicDNS: '',
      configAttributes:{},
      label: ''
    },
    _setOption: function(key, value){
      if(key == 'label'){
        //setting the tooltip for the label in the dialog
        this.element.find($('.instance-label')).attr('data-original-title',value);
        var label = shortenLongStrings(value, <%= VisualCloudConfig[:strings_max_length] %>);
        this.element.find($('.instance-label')).html(label);

      }
      //Sets the new options
      $.Widget.prototype._setOption.apply(this, arguments);
    },
    _create: function() {
      var self = this;
      var options = self.options;
      var element = self.element;
      //Add the inner HTML template
      element.html($('.' + options.resourceType + '-instance').html());      

      // getting the attribute id on the instance
      var instanceDivId =  element.attr('id').split('-')[1];

      //setting id to connection element
      element.find($('.connection-source')).attr('id', 'connection-source-' + instanceDivId);

      //Set label of the instance
      var label = shortenLongStrings(options.label, <%= VisualCloudConfig[:strings_max_length] %>);
      element.find($('.instance-label')).attr('data-original-title',options.label);
      element.find($('.instance-label')).html('<a id=instance-label-' + instanceDivId + ' href="#" >' + label + '</a>');

      //Set instance Type if it exists
      if(options.InstanceType){         
         element.find($('.instance-type-label')).attr('id', 'instance-type-label-' + instanceDivId);         
         $('#instance-type-label-'+ instanceDivId).html(options.configAttributes.label);
      }

     //Align the element on the stage
      element.position({
        my: 'left top',
        at: 'left top',
        of: element.parent(),
        offset: (options.xpos).toString() + ' ' + (options.ypos).toString()
      });

      //Make the element draggable using JSPlumb
      jsPlumb.draggable(element, {containment: element.parent()});

      //Enable Source and Destination for connections in the instance element
      //Checking instance is S3 type or not
      makeSourceAndTarget(element);
      if(options.resourceType != "S3" && options.resourceType != "ElastiCache")
        $('#connection-source-'+instanceDivId).show();
      else
        $('#connection-source-'+instanceDivId).hide();


      //Show edit config modal on click
      element.click(function(){
        showInstanceEditForm(element.attr('id'));
      });
      //Do not open the dialog because it's got to open the URL onclick
      element.find('.instance-label').click(function(e){e.stopPropagation();})

      //Listen to global onElementDrop event. Expecting the droppable widget to trigger this event
      //element.bind('onElementDrop', $.proxy(self, 'onElementDrop') );
      
      self._trigger('onCreate');
    },
    getAttributes: function(){
      var options = this.options;
      var element = this.element;
      var stage = element.parent();
      var ypos = element.offset().top - stage.offset().top ;
      var xpos = element.offset().left - stage.offset().left ;
      var dom_id = element.attr('id');
      var parent_dom_ids = getParentDomIds(element);
      return {xpos: xpos, ypos: ypos, label: options.label, instance_type_id: options.InstanceType, resource_type: options.resourceType, config_attributes: options.configAttributes, parent_dom_ids: parent_dom_ids, dom_id: dom_id };
    },
    getConfigurationDialogId: function(){
      return this.options.resourceType + '-configuration' ;
    },
    destroy: function() {
      this.element.remove();
    }


  });
})(jQuery);
