<div class="well span2 graph-droppables-dock">
  <div id="element-1" data-element-type="ubuntu-ec2" data-xpos="" data-ypos=""></div>
  <div id="element-2" data-element-type="windows-ec2" data-xpos="" data-ypos="">Windows</div>
  <div id="element-4" data-element-type="s3" data-xpos="" data-ypos="">MySQL</div>
  <div id="element-5" data-element-type="elb" data-xpos="" data-ypos="">ELB</div>
</div>
