<% resource_types.each do |resource_type| %>
  <div class="<%= resource_type.name %>-instance hide">
      <%= image_tag("icons/#{resource_type.large_icon}", size: '50x50')%>
    <span class="instance-label">
      <%= resource_type.name %> 
    </span>
  </div>
<% end %>
