<div class = "pull-right">
  <ul class="nav nav-pills">
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">RailsSandbox    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="">FuturesInc</a></li>
      <li><a href="">Tubify</a></li>
    </ul>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staging    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="">Edge</a></li>
      <li><a href="">Staging</a></li>
      <li><a href="">Production</a></li>
    </ul>
    </li>
  </ul> 
</div>
