<div class="navbar navbar-inner">
  <ul class="nav nav-pills">
    <li><a id="graph-save" href="javascript:void(0)">Save</a></li>
    <li><a>Export</a></li>
    <li><a>Import</a></li>
  </ul> 
    <div class = "pull-right">
  <ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Environment    <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="">Production</a></li>
    <li><a href="">Staging</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project    <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="">Project 2</a></li>
    <li><a href="">Project 3</a></li>
    </ul>
  </li>
  </ul> 
</div>
</div>
