<%= render 'toolbar' %>
<div class="row">
  <%= render 'graph_draggables', resource_types: @resource_types %>
  <%= render 'graph_area' %>
  <%= render 'dialogs' %>
</div>
<script type="text/javascript">
  prepare_stage();
</script>
