<p id="notice"><%= notice %></p>

<div class="row" >
  <div class="span10">
<p>
  <b>Name:</b>
  <%= @graph.name %>
</p>

</div>

<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
<div>
