<h1>Listing deploys</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deploys.each do |deploy| %>
  <tr>
    <td><%= link_to 'Show', deploy %></td>
    <td><%= link_to 'Edit', edit_deploy_path(deploy) %></td>
    <td><%= link_to 'Destroy', deploy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deploy', new_deploy_path %>
