<div id="tryit-container" class="hero-unit">
  <h1>Welcome, <%=current_user.name%></h1>
  <p>Go ahead, give VisualCloud a try</p>
  <p>
    <%= link_to 'Try it!', new_graph_path , class: "btn btn-primary btn-large" %>
  </p>
</div>
