function prepareStage(){
  $( "#accordion" ).accordion({ fillSpace: true, collapsible: true });
  $('.graph-area').graphArea();
};

function addInstanceCloneToGraph(instanceId){
  var graphArea = $('.graph-area') ;
  var newElement = $('<div class="instance"></div>');
  graphArea.graphArea("addInstanceToStage", newElement, instanceId);

  return newElement ;
};

function showConfigurationForm(dialogId, droppedPosition){
  var dialog = $('#'+dialogId);
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('xpos', droppedPosition.left);
  dialog.data('ypos', droppedPosition.top);
  dialog.modal('show');
};

function showInstanceEditForm(editElement){
  var instanceOptions = $('#'+editElement).instance("option") ;
  var dialogId = $('#'+editElement).instance('getConfigurationDialogId') ;
  var dialog = $('#'+dialogId);
  var resource_type = instanceOptions.resourceType.toLowerCase();
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('editElement', editElement);
  dialog.find('.instance_label').val(instanceOptions.label); 
  dialog.find('#ec2_ami_id').val(instanceOptions.amiId);
  dialog.find('#' + resource_type + '_instance_type_id').val(instanceOptions.InstanceType);
  if(instanceOptions.ipAddress != "")
    dialog.find('#' + resource_type + '_ip_address').html("Ip Address : <code class='fnt_size'>"+instanceOptions.ipAddress+"</code>");
  if(instanceOptions.publicDNS != "")
    dialog.find('#' + resource_type + '_public_dns').html("Public DNS : <code class='fnt_size'>"+instanceOptions.publicDNS+"</code>");
  //TODO : Check why the following if condition is used , if it isn't needed remove it
  if(!noProperty(instanceOptions.configAttributes))
  {
     dialog.find('#rds_size').val(instanceOptions.configAttributes.size);
     dialog.find('#rds_master_user_name').val(instanceOptions.configAttributes.master_user_name);
     dialog.find('#rds_master_password').val(instanceOptions.configAttributes.master_password);
     dialog.find('#rds_multiAZ').prop("checked",instanceOptions.configAttributes.multiAZ);
  }
  dialog.find('#' + resource_type + '_delete').show();
  dialog.modal('show');
};

function noProperty(obj) {
    for(var prop in obj) {
        if(obj.hasOwnProperty(prop))
            return false;
    }
    return true;
}

function addMessagesToDiv(jDiv, content){
   jDiv.append(content);
   $(".messages").delay(10000).fadeOut("slow", function () { $(this).remove(); });
}

function showFlashMessages(jDiv, type, content){
   var id = "ajax-template";
   if(type == "notice")
     id = "basic-template";
   if(type == "error")
     id = "themeroller";
   jDiv.notify("create",id,{text: content},{expires: 5000,speed: 1000,custom: true});
}

function getErrorMessage(message){
  var errorMessage = '<div class="alert alert-error messages"><button type="button" class="close" data-dismiss="alert">x</button>' + message + '</div>' ;
  return errorMessage ;
};

function showLoading(message){
  if(message == "undefined")
    message = "Please Wait..." ;
  $('#loading-text').html(message);
  $('#loading').modal('show').css({
    width: 'auto',
    'margin-top': function () {
      return -($(this).height() / 2);
    },
    'margin-left': function () {
      return -($(this).width() / 2);
    }
  });
};

function hideLoading(){
  $('#loading').modal('hide');
};

/*
// For debugging mouse movement inside graph area
$(document).ready(function(){
  $('.graph-area').mousemove(function(e){
  var x = e.pageX - this.offsetLeft;
  var y = e.pageY - this.offsetTop;
  $('.graph-area').html("X: " + x + " Y: " + y); 
  });
});
*/
$(document).ready(function(){
   $("#container").notify({expires: false,speed: 1000});
   $("[rel=tooltip]").tooltip();

   $('#new_environment').click(function(){
     $('#graph-new-modal').modal('show');
   });

   $('.graph-new-submit').click(function(){
    var graphName = $('input#graph-name').val().trim();
    var keyPairName = $('input#graph-key-pair-name').val().trim();
    var securityGroupName = $('input#graph-security-group-name').val().trim();
    if(graphName == "")
      addMessagesToDiv($('#graph-new-error-messages'), getErrorMessage('Environment name cannot be empty'));
    else
      $('#graph-new-frm').submit();
    //Do not submit form
    return false;
  });
});
