function prepareStage(){
  $( "#accordion" ).accordion({ fillSpace: true, collapsible: true });
  $('.graph-area').graphArea();
};

function addInstanceCloneToGraph(instanceId){
  var graphArea = $('.graph-area') ;
  var newElement = $('<div class="instance"></div>');
  graphArea.graphArea("addInstanceToStage", newElement, instanceId);

  return newElement ;
};

function showConfigurationForm(dialogId, droppedPosition){
  var dialog = $('#'+dialogId);
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('xpos', droppedPosition.left);
  dialog.data('ypos', droppedPosition.top);
  dialog.modal('show');
};

function showInstanceEditForm(editElement){
  var instanceOptions = $('#'+editElement).instance("option") ;
  var dialogId = $('#'+editElement).instance('getConfigurationDialogId') ;
  var dialog = $('#'+dialogId);
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('editElement', editElement);
  dialog.find('.instance_label').val(instanceOptions.label); 
  dialog.find('#ec2_ami_id').val(instanceOptions.amiId);
  dialog.find('#ec2_instance_type_id').val(instanceOptions.InstanceType);
  dialog.find('#rds_instance_type_id').val(instanceOptions.InstanceType);
  dialog.find('#rails_instance_type_id').val(instanceOptions.InstanceType);
  dialog.find('#mysql_instance_type_id').val(instanceOptions.InstanceType);
  dialog.find('#nginx_instance_type_id').val(instanceOptions.InstanceType);
  dialog.find('#ip_address').html("Ip Address : "+instanceOptions.ipAddress);
  dialog.find('#public_dns').html("Public DNS : "+instanceOptions.publicDNS);
  if(!isEmpty(instanceOptions.configAttributes))
  {
     dialog.find('#rds_size').val(instanceOptions.configAttributes.size);
     dialog.find('#rds_master_user_name').val(instanceOptions.configAttributes.master_user_name);
     dialog.find('#rds_master_password').val(instanceOptions.configAttributes.master_password);
     dialog.find('#ec2_web').prop("checked",parseInt(instanceOptions.configAttributes.web_server));
     dialog.find('#ec2_app').prop("checked",parseInt(instanceOptions.configAttributes.app_server));
     dialog.find('#ec2_db').prop("checked",parseInt(instanceOptions.configAttributes.db_server));
     dialog.find('#rds_multiAZ').prop("checked",instanceOptions.configAttributes.multiAZ);
  }
  dialog.modal('show');
};

function isEmpty(obj) {
    for(var prop in obj) {
        if(obj.hasOwnProperty(prop))
            return false;
    }
    return true;
}

function addMessagesToDiv(jDiv, content){
   jDiv.append(content);
   $(".messages").delay(10000).fadeOut("slow", function () { $(this).remove(); });
}

function showFlashMessages(jDiv, type, content){
   var id = "ajax-template";
   if(type == "notice")
     id = "basic-template";
   if(type == "error")
     id = "themeroller";
   jDiv.notify("create",id,{text: content},{expires: 5000,speed: 1000,custom: true});
}

function getErrorMessage(message){
  var errorMessage = '<div class="alert alert-error messages"><button type="button" class="close" data-dismiss="alert">x</button>' + message + '</div>' ;
  return errorMessage ;
};

function showLoading(message){
  if(message == "undefined")
    message = "Please Wait..." ;
  $('#loading-text').html(message);
  $('#loading').modal('show').css({
    width: 'auto',
    'margin-top': function () {
      return -($(this).height() / 2);
    },
    'margin-left': function () {
      return -($(this).width() / 2);
    }
  });
};

function hideLoading(){
  $('#loading').modal('hide');
};

$(document).ready(function(){
   $("#container").notify({expires: false,speed: 1000});
   $("[rel=tooltip]").tooltip();
});

/*
// For debugging mouse movement inside graph area
$(document).ready(function(){
  $('.graph-area').mousemove(function(e){
  var x = e.pageX - this.offsetLeft;
  var y = e.pageY - this.offsetTop;
  $('.graph-area').html("X: " + x + " Y: " + y); 
  });
});
*/
