function prepare_stage(){
  $( "#accordion" ).accordion({ fillSpace: true, collapsible: true });
  $('.graph-area').graphArea();
};

function addInstanceCloneToGraph(position, divId){
  var graphArea = $('.graph-area') ;
  var topOffset = position.top - graphArea.position().top ;
  var leftOffset = position.left - graphArea.position().left ;
  var newElement = $('<div id="'+ divId + '" class="instance" ></div>');
  newElement.appendTo(graphArea);

  newElement.position({
    my: 'left top',
    at: 'left top',
    of: graphArea,
    collision: 'none',
    offset: leftOffset + ' ' + topOffset 
  });
  return newElement ;
};

function showConfigurationForm(dialogId, droppedPosition){
  var dialog = $('#'+dialogId);
  dialog.data('xpos', droppedPosition.left);
  dialog.data('ypos', droppedPosition.top);
  dialog.modal('show');
};

function addMessagesToDiv(jDiv, content){
  jDiv.append(content);
  $(".messages").delay(2000).fadeOut("slow", function () { $(this).remove(); });
};

/*
// For debugging mouse movement inside graph area
$(document).ready(function(){
  $('.graph-area').mousemove(function(e){
  var x = e.pageX - this.offsetLeft;
  var y = e.pageY - this.offsetTop;
  $('.graph-area').html("X: " + x + " Y: " + y); 
  });
});
*/
