function prepareStage(){
  $( "#accordion" ).accordion({ fillSpace: true, collapsible: true });
  $('.graph-area').graphArea();
};

function addInstanceCloneToGraph(){
  var graphArea = $('.graph-area') ;
  var newElement = $('<div class="instance" ></div>');
  graphArea.graphArea("addInstanceToStage", newElement);

  return newElement ;
};

function showConfigurationForm(dialogId, droppedPosition){
  var dialog = $('#'+dialogId);
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('xpos', droppedPosition.left);
  dialog.data('ypos', droppedPosition.top);
  dialog.modal('show');
};

function showInstanceEditForm(editElement){
  var instanceOptions = $('#'+editElement).instance("option") ;
  var dialogId = $('#'+editElement).instance('getConfigurationDialogId') ;
  var dialog = $('#'+dialogId);
  dialog.removeData(['editElement', 'xpos', 'ypos']);
  dialog.data('editElement', editElement);
  dialog.find('.instance_label').val(instanceOptions.label); 
  dialog.find('#ec2_ami_id').val(instanceOptions.amiId);
  dialog.find('#ec2_instance_type_id').val(instanceOptions.InstanceType);
  dialog.modal('show');
};

function addMessagesToDiv(jDiv, content){
  jDiv.append(content);
  $(".messages").delay(10000).fadeOut("slow", function () { $(this).remove(); });
};

function getErrorMessage(message){
  var errorMessage = '<div class="alert alert-error messages"><button type="button" class="close" data-dismiss="alert">x</button>' + message + '</div>' ;
  return errorMessage ;
};

function showLoading(message){
  if(message == "undefined")
    message = "Please Wait..." ;
  $('#loading-text').html(message);
  $('#loading').modal('show').css({
    width: 'auto',
    'margin-top': function () {
      return -($(this).height() / 2);
    },
    'margin-left': function () {
      return -($(this).width() / 2);
    }
  });
};

function hideLoading(){
  $('#loading').modal('hide');
};

/*
// For debugging mouse movement inside graph area
$(document).ready(function(){
  $('.graph-area').mousemove(function(e){
  var x = e.pageX - this.offsetLeft;
  var y = e.pageY - this.offsetTop;
  $('.graph-area').html("X: " + x + " Y: " + y); 
  });
});
*/
