<% resource_types.each do |resource_type| %>
  <div class="<%= resource_type.name %>-instance hide">
    <%= image_tag("icons/#{resource_type.small_icon}", size: '55x55', class: 'instance-icon')%>
    <div class="instance-type-label"></div>
    <div style="clear:both"></div>
    <span class="instance-label" rel="tooltip" data-placement="bottom">
      <%= resource_type.name %>
    </span>
    <div class="connection-source" title="Drag for new connection" rel="tooltip" data-placement="right"><i class='icon-fullscreen'></i></div>
    <% if resource_type.resource_class == "EC2" %>
      <div class="instance-status"></div>
    <% end %>
  </div>
<% end %>
