<div id="graph-save-modal" class="modal hide fade in" style="display: none; ">  
 <%= simple_form_for Environment.new, url: project_environments_path(project)  , remote: true, html: { id: 'graph-save-frm'} do |f|%>
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>
    <h3>Save Environment</h3>
  </div>
  
  <div class="modal-body"> 
   <%= render 'form', f: f %>
  </div>
  
  <div class="modal-footer">
    <%= f.button :submit, 'Continue', class: "btn btn-success", id: "graph-save-submit"  %>
    <a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
  </div>
 <% end %>
</div>  
