<div class="navbar navbar-inverse">
<div class="navbar-inner">
  <ul class="nav nav-pills">
    <li><a id="graph-save" href="javascript:void(0)">Save</a></li>
  </ul> 
  <%= render 'project_environment' %> 
</div>
</div>
