<div class="navbar navbar-inverse">
<div class="navbar-inner">
  <ul class="nav nav-pills">
    <li><a id="graph-save" href="javascript:void(0)" title='Save' rel='tooltip' data-placement='bottom'><i class='icon-save icon-large'></i></a></li>
  </ul>
  <%= render 'project_environment' %> 
</div>
</div>
