/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
*/

div.graph-area {
  background-image:image-url('tiny_grid.png');
  height: 400px;
}

div.graph-draggables-dock {
  background-color: white;
  height: 400px;
}

.instance {
  display: inline-block;
}

.dockIcon {
  max-height: 30px;
  max-width: 30px;
}

._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }

/*
.ubuntu-ec2-element {
  background-image:image-url('icons/ubuntu.png');
  background-repeat: no-repeat;
  background-size:70px 70px;
  height: 70px;
  width: 70px;
}
*/
