<div id="loading" class="modal hide fade in" data-keyboard="false" data-backdrop="static">  
  <div class="modal-body">  
    <%= image_tag("ajax-loader.gif")%> <span id="loading-text"> Please Wait </span>
  </div>
</div>
